
.mod-tsbmain .tsbTab a [class^=cms-]:before,
[class*=" cms-"]:before,
.dw-cal .icon:before {
    line-height: 55px;
    text-indent: 1500px;
}

.backbutton {
    visibility: hidden;
}

.dw-persp, .dwo, .modal {
    top: 60px;
}
.tsb-horizontaltabscontainer {
    margin: 0;
}

.mod-tsbmain .tsbTab a span {
    color: white;
}

.mod-linkboxes-gridview .mod-linkboxes-image .linkbox-title {
    background: white;
    color: #3B014B;
    border-radius: 20px;
    padding: 5px 15px;
}

.mod-linkboxes-gridview .mod-linkboxes-image {
    border-radius: 6px;
}

section.home-section .be-inspired-owl-carousel.owl-theme.owl-theme .owl-controls .owl-buttons div {
    background-color: #fff !important;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

section.home-section .be-inspired-owl-carousel.owl-theme.owl-theme .owl-controls .owl-buttons div i:before {
    background: none;
}


section.home-section .be-inspired-owl-carousel.owl-theme.owl-theme .owl-controls .owl-buttons div.owl-prev .cms-icon-left::before,
section.home-section .be-inspired-owl-carousel.owl-theme.owl-theme .owl-controls .owl-buttons div.owl-next .cms-icon-right::before {
    background-size: contain;
    height: 35px !important;
    width: 22px !important;
}


@media screen and (max-width: 992px) {

    #mpwrapper header {
        visibility: hidden;
        display: none !important;
    }

    .navbar.navbar-default {
        background: transparent;
        visibility : hidden !important;
        display: none !important;
    }

    .region-fixed-top {
        top: 0;
    }

    main {
        padding-bottom: 70px;
    }

    footer {
        display: none;
    }

    div[role="dialog"].dw.dw-ltr.popover {
        top: 0 !important;
    }

    div.btn[role="radio"] {
        height: auto !important;
    }

    div.mod-tsbmain .tsb-horizontaltabs .owl-item {
        width: 33.33% !important;
    }

    div.dw-persp, div.dwo {
        width: 100vw;
        height: 120vh;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
    }

    .mbsc-bootstrap .dw-cal-btn-txt i.icon.glyphicon {
        top: 35% !important;
        left: 35% !important;
    }

    .mbsc-bootstrap .dw-cal-btn-txt i.icon.glyphicon:before {
        line-height: 30px;
    }

    .mod-tsbmain .input-group .input-group-addon span.dest-icon:before {
        line-height: 1;
    }

    #newsletter {
        display: none;
    }
}
